<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Please use <a href="/api/books">/api/books</a> or <a href="/api/genres">/api/genres</a> instead</p>
  </body>
</html>